@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
@font-face {
  font-family: Vanguard;
  src: url("https://semparar.vteximg.com.br/arquivos/Vanguard-CF-Extra-Bold-Oblique.otf.css"), url("http://semparar.vteximg.com.br/arquivos/vanguard-cf-extra-bold-oblique-webfont.woff2.css") format("woff2"), url("http://semparar.vteximg.com.br/arquivos/vanguard-cf-extra-bold-oblique-webfont.woff.css") format("woff");
  font-weight: normal;
  font-style: normal; }

.border-1px {
  border: 1px solid; }

.border-2px {
  border: 2px solid; }

.border-primary {
  border-color: #41bb96; }

.border-secondary {
  border-color: #f26d61; }

.flex {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }

.direction-column {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.direction-row {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; }

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.justify-space-around {
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around; }

.justify-space-between {
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between; }

.justify-space-evenly {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.align-flex-start {
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start; }

.align-center--mob {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.flex-wrap {
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.direction-column--mob {
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.justify-center--mob {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

@media only screen and (min-width: 48rem) {
  .align-center--mob {
    -webkit-box-align: unset;
    -ms-flex-align: unset;
    align-items: unset; }
  .direction-column--mob {
    -webkit-flex-direction: unset;
    -moz-flex-direction: unset;
    -ms-flex-direction: unset;
    flex-direction: unset; }
  .justify-center--mob {
    -webkit-box-pack: unset;
    -ms-flex-pack: unset;
    justify-content: unset; } }

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .justify-center--mob {
    justify-content: flex-start !important; }
  .direction-column--mob {
    flex-direction: row; } }

.bg-primary {
  background-color: #41bb96; }

.bg-primary-dark {
  background-color: #04625d; }

.bg-primary-light {
  background-color: #45c8a0; }

.bg-secondary {
  background-color: #f26d61; }

.bg-secondary-dark {
  background-color: #04625d; }

.bg-secondary-light {
  background-color: #ff7366; }

.bg-transparent {
  background-color: transparent; }

.bg-black {
  background-color: #000; }

.bg-white {
  background-color: #fff; }

.bg-dark {
  background-color: #222; }

.bg-grey {
  background-color: #d5d5d5; }

.bg-grey-dark {
  background-color: #3a3837; }

.bg-grey-light {
  background-color: #eeeeee; }

.bg-grey-lighter {
  background-color: #f3f3f3; }

.bg-warning {
  background-color: #ff9f1c; }

.bg-warning-dark {
  background-color: #b26b0a; }

.bg-watning-light {
  background-color: #ffaa35; }

.bg-link {
  background-color: #164c8e; }

.bg-link-dark {
  background-color: #0a2342; }

.bg-link-light {
  background-color: #1f6dce; }

.bg-link-lighter {
  background-color: #beebdf; }

.color-primary {
  color: #41bb96; }

.color-primary-dark {
  color: #04625d; }

.color-primary-light {
  color: #45c8a0; }

.color-secondary {
  color: #f26d61; }

.color-secondary-dark {
  color: #04625d; }

.color-secondary-light {
  color: #ff7366; }

.color-transparent {
  color: transparent; }

.color-black {
  color: #000; }

.color-white {
  color: #fff; }

.color-dark {
  color: #222; }

.color-grey {
  color: #d5d5d5; }

.color-grey-dark {
  color: #3a3837; }

.color-grey-light {
  color: #eeeeee; }

.color-grey-lighter {
  color: #f3f3f3; }

.color-warning {
  color: #ff9f1c; }

.color-warning-dark {
  color: #b26b0a; }

.color-watning-light {
  color: #ffaa35; }

.color-link {
  color: #164c8e; }

.color-link-dark {
  color: #0a2342; }

.color-link-light {
  color: #1f6dce; }

.color-link-lighter {
  color: #beebdf; }

.font-smaller {
  font-size: 0.5rem; }

.font-small {
  font-size: 0.75rem; }

.font-normal {
  font-size: 1rem; }

.font-size-5 {
  font-size: 1.25rem; }

.font-size-4 {
  font-size: 1.5rem; }

.font-size-3 {
  font-size: 2rem; }

.font-size-2 {
  font-size: 2.5rem; }

.font-size-1 {
  font-size: 3rem; }

.font-4rem {
  font-size: 4rem; }

.font-5rem {
  font-size: 5rem; }

.font-6rem {
  font-size: 6rem; }

.font-7rem {
  font-size: 7rem; }

.font-8rem {
  font-size: 8rem; }

.font-primary {
  font-family: Vanguard, "Open Sans", Calibri, Helvetica, sans-serif; }

.font-secondary {
  font-family: "Open Sans", Calibri, Helvetica, sans-serif; }

.font-tertiary {
  font-family: Calibri, Helvetica, Arial, sans-serif; }

.font-bold {
  font-weight: bold; }

.font-italic {
  font-style: italic; }

.text-uppercase {
  text-transform: uppercase; }

.text-centered {
  text-align: center; }

@media only screen and (max-width: 48rem) {
  .text-centered--mob {
    text-align: center; } }

.text-justified {
  text-align: justify; }

.text-left {
  text-align: left; }

.m-top-0 {
  margin-top: 0; }

.m-right-0 {
  margin-right: 0; }

.m-bottom-0 {
  margin-bottom: 0; }

.m-left-0 {
  margin-left: 0; }

.m-top-1rem {
  margin-top: 1rem; }

.m-right-1rem {
  margin-right: 1rem; }

.m-bottom-1rem {
  margin-bottom: 1rem; }

.m-left-1rem {
  margin-left: 1rem; }

.m-top-2rem {
  margin-top: 2rem; }

.m-right-2rem {
  margin-right: 2rem; }

.m-bottom-2rem {
  margin-bottom: 2rem; }

.m-left-2rem {
  margin-left: 2rem; }

.m-top-3rem {
  margin-top: 3rem; }

.m-right-3rem {
  margin-right: 3rem; }

.m-bottom-3rem {
  margin-bottom: 3rem; }

.m-left-3rem {
  margin-left: 3rem; }

.m-top-4rem {
  margin-top: 4rem; }

.m-right-4rem {
  margin-right: 4rem; }

.m-bottom-4rem {
  margin-bottom: 4rem; }

.m-left-4rem {
  margin-left: 4rem; }

.m-top-5rem {
  margin-top: 5rem; }

.m-right-5rem {
  margin-right: 5rem; }

.m-bottom-5rem {
  margin-bottom: 5rem; }

.m-left-5rem {
  margin-left: 5rem; }

.m-1rem {
  margin: 1rem; }

.m-2rem {
  margin: 2rem; }

.p-top-1rem {
  padding-top: 1rem; }

.p-right-1rem {
  padding-right: 1rem; }

.p-bottom-1rem {
  padding-bottom: 1rem; }

.p-left-1rem {
  padding-left: 1rem; }

.p-top-2rem {
  padding-top: 2rem; }

.p-right-2rem {
  padding-right: 2rem; }

.p-bottom-2rem {
  padding-bottom: 2rem; }

.p-left-2rem {
  padding-left: 2rem; }

.p-top-3rem {
  padding-top: 3rem; }

.p-right-3rem {
  padding-right: 3rem; }

.p-bottom-3rem {
  padding-bottom: 3rem; }

.p-left-3rem {
  padding-left: 3rem; }

.p-top-4rem {
  padding-top: 4rem; }

.p-right-4rem {
  padding-right: 4rem; }

.p-bottom-4rem {
  padding-bottom: 4rem; }

.p-left-4rem {
  padding-left: 4rem; }

.p-top-5rem {
  padding-top: 5rem; }

.p-right-5rem {
  padding-right: 5rem; }

.p-bottom-5rem {
  padding-bottom: 5rem; }

.p-left-5rem {
  padding-left: 5rem; }

.p-1rem {
  padding: 1rem; }

.p-2rem {
  padding: 2rem; }

.inline {
  display: inline; }

.block {
  display: block; }

.mobile {
  display: block; }

.desktop {
  display: none; }

.rotate-mobile {
  transform: rotate(90deg);
  margin: 4.3rem; }

@media only screen and (min-width: 48rem) {
  .desktop {
    display: block; }
  .mobile {
    display: none; }
  .rotate-mobile {
    transform: unset;
    margin: unset; } }

.highlight {
  padding: .3em .6em;
  line-height: 1.6rem; }

.mobile-width {
  max-width: 20rem; }

.mobile-item {
  max-width: 13.7rem; }

.pre-footer {
  margin-bottom: -1.5rem; }
  .pre-footer .pre-footer__inner {
    width: 8rem; }
  .pre-footer .pre-footer__inner:nth-child(2) {
    width: 13rem; }

/*! minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal; }

ul {
  list-style: none; }

button,
input,
select,
textarea {
  margin: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

img,
embed,
iframe,
object,
video {
  height: auto;
  max-width: 100%; }

audio {
  max-width: 100%; }

iframe {
  border: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0;
  text-align: left; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Vanguard, "Open Sans", Calibri, Helvetica, sans-serif; }

div,
a,
span,
p,
time,
strong,
b {
  font-family: "Open Sans", Calibri, Helvetica, sans-serif; }

body {
  scroll-behavior: smooth; }

.navbar {
  padding: 1rem 0;
  height: 5rem;
  font-size: 16px; }
  .navbar .logo {
    height: 3em; }

@media only screen and (min-width: 48rem) {
  .navbar {
    height: 6rem; }
    .navbar .logo {
      height: 3rem; } }

.table {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-pack: flex-start;
  -ms-flex-pack: flex-start;
  justify-content: flex-start;
  overflow-x: scroll; }
  .table .table__header,
  .table .table__data {
    text-align: center;
    padding: .3rem;
    width: 320px; }
  .table .table__column {
    border-right: 0.09rem solid #d5d5d5; }
  .table .table__data:first-child {
    border-top: 0; }
  .table .table__column:last-child {
    border-right: 0; }
  .table .table__column:last-child .table__data {
    border-top: 0.09rem solid #d5d5d5; }
  .table .table__column:first-child .table__data {
    border-top: 0.09rem solid #d5d5d5; }

@media only screen and (min-width: 48rem) {
  .table {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow-x: unset; } }

/* step tutorial */
.step {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .step .step__item {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: flex-start;
    -ms-flex-pack: flex-start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .step .step__item:last-child {
    margin-bottom: 0; }
  .step .step__icon {
    width: 6.5rem;
    height: 6.5rem;
    padding: .5rem;
    margin-bottom: .5rem; }
    .step .step__icon img {
      max-height: 100%;
      max-width: 100%; }
  .step .step__arrow {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 1rem; }
    .step .step__arrow img {
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      height: .45rem;
      margin: 1.5rem; }
  .step .step__tile {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 0.62rem;
    border: 0.1rem solid #3a3837;
    width: 9.37rem;
    height: 9.37rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .8rem;
    position: relative;
    padding: 1rem; }
  .step .step__text, .step .step__text--sm, .step .step__text--xs {
    width: 10.4rem;
    font-size: .8rem;
    align-self: center;
    text-align: center; }
  .step .step__text--sm {
    width: 8rem; }
  .step .step__text--xs {
    width: 7rem; }

@media only screen and (min-width: 48rem) {
  .step {
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto; }
    .step .step__item {
      margin-bottom: 0; }
    .step .step__arrow {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex; }
      .step .step__arrow img {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg); }
    .step .arrow--1 {
      height: 6.5rem;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
    .step .arrow--2 {
      margin: 0 1rem;
      height: 9.37rem;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; } }

.guidance {
  padding: 3rem 0 0 0; }
  .guidance .container {
    padding: 0; }
  .guidance .guidance__side {
    padding: 0rem 1rem;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .guidance .guidance__side .guidance__title {
      font-size: 1.3rem;
      font-family: Vanguard, "Open Sans", Calibri, Helvetica, sans-serif;
      color: #41bb96;
      text-transform: uppercase;
      text-align: center; }
    .guidance .guidance__side .guidance__paragraph {
      margin-bottom: 2rem;
      text-align: center; }
    .guidance .guidance__side .guidance__cta {
      text-transform: uppercase;
      font-family: "Open Sans", Calibri, Helvetica, sans-serif;
      margin-bottom: 2rem;
      display: inline-block;
      font-weight: bold;
      color: #222; }
  .guidance .guidance__map .content-map {
    height: 23rem;
    width: 100%; }
  .guidance .content-map {
    height: 360px;
    margin: 0 0 0 0;
    position: relative; }
    .guidance .content-map .maps-input {
      margin-top: 0.625rem;
      border: 1px solid transparent;
      border-radius: 2px;
      height: 2.5rem;
      outline: 0;
      width: 75%;
      left: 130px;
      top: 39px;
      background-color: #fff;
      font-family: "Open Sans", Calibri, Helvetica, sans-serif;
      font-weight: 300;
      text-overflow: ellipsis;
      z-index: 9;
      direction: ltr;
      overflow: hidden;
      display: table-cell;
      vertical-align: middle;
      position: relative;
      color: #565656;
      user-select: none;
      padding: 0px 17px;
      background-clip: padding-box;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px; }
  .guidance .map {
    height: 100%; }
  .guidance .station-popup .station-popoup__button {
    width: 100%;
    margin-top: 1rem;
    text-transform: uppercase;
    background-color: #eeeeee;
    text-align: center;
    color: #3a3837;
    padding: 0.6rem 0.1rem;
    border-radius: .25rem;
    border: 1px solid #d2d0d0; }
  .guidance .station-popup .station-popup__title,
  .guidance .station-popup .station-popup__name,
  .guidance .station-popup .station-popup__street,
  .guidance .station-popup .station-popup__town,
  .guidance .station-popup .station-popup__city,
  .guidance .station-popup .station-popup__site {
    display: block;
    margin-bottom: .2rem; }
  .guidance .station-popup .station-popup__name {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #3a3837; }
  .guidance .station-popup .gm-style-iw-d {
    height: 300px; }
  .guidance .map-legend {
    font-size: 0.8em;
    padding: 1.3rem; }
  .guidance .map-legend p {
    font-family: "Open Sans";
    font-size: .8rem; }

.gmnoprint {
  display: none; }

@media only screen and (min-width: 48rem) {
  .gmnoprint {
    display: block; }
  .guidance {
    padding: 0; }
    .guidance .container {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      -webkit-box-orient: horizontal;
      -moz-box-orient: horizontal;
      -webkit-flex-direction: row;
      -moz-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      -webkit-box-align: flex-start;
      -ms-flex-align: flex-start;
      align-items: flex-start;
      -webkit-box-pack: space-between;
      -ms-flex-pack: space-between;
      justify-content: space-between;
      padding: 0;
      position: relative;
      margin: 0 0 0 auto;
      width: 90%; }
    .guidance .guidance__side {
      padding: 6rem 3rem 6rem 0;
      width: 40%;
      -webkit-box-align: flex-start;
      -ms-flex-align: flex-start;
      align-items: flex-start; }
      .guidance .guidance__side .guidance__title {
        text-align: left; }
      .guidance .guidance__side .guidance__paragraph {
        text-align: left; }
    .guidance .guidance__map {
      width: 100%; }
    .guidance .content-map .maps-input {
      width: 52%; } }

@media only screen and (min-width: 62rem) {
  .guidance .guidance__side {
    width: 32%; }
  .guidance__map {
    width: 70%; } }

@media only screen and (min-width: 75rem) {
  .guidance .container {
    width: 85%; } }

@media only screen and (min-width: 1367px) {
  .guidance .container {
    margin: auto;
    width: 60rem; } }

.header {
  padding-top: 2rem;
  padding-bottom: 0;
  background-image: none;
  background-repeat: no-repeat;
  background-position-y: 102%;
  background-position-x: center;
  background-size: 90%;
  border-bottom: 2px solid #3a3837; }
  .header .header__image-title {
    width: 16.5rem;
    text-align: center; }
  .header .header__title {
    color: #ff9f1c;
    margin-bottom: .5rem;
    text-transform: uppercase;
    font-size: 2.2rem;
    max-width: 34rem;
    text-align: center;
    margin-left: -5px; }
  .header .header__subtitle {
    color: #3a3837;
    margin-bottom: 0;
    text-transform: uppercase;
    font-size: 1.3rem;
    max-width: 17rem;
    text-align: left;
    padding-left: 2px; }
  .header .header__buttons .button:not(:last-child) {
    margin-right: 0;
    margin-bottom: .6rem; }

@media only screen and (min-width: 48rem) {
  .header {
    padding-top: 2rem;
    padding-bottom: 6rem;
    background-image: url(header-bomba-pascoa-universal.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: 90%; }
    .header .header__title {
      text-align: left;
      font-size: 2.42rem;
      margin-left: -1px; }
    .header .header__image-title {
      width: 297px;
      -ms-flex-item-align: start;
      align-self: flex-start; }
    .header .header__subtitle {
      text-transform: uppercase;
      font-size: 1.25rem;
      max-width: 38rem;
      text-align: left;
      padding-left: 0;
      margin-left: 0px;
      margin-bottom: 0; }
    .header .header__buttons {
      margin-bottom: 1rem; }
      .header .header__buttons .button {
        margin-bottom: 0 !important; }
      .header .header__buttons .button:not(:last-child) {
        margin-right: 1rem; } }

@media only screen and (min-width: 62rem) {
  .header {
    background-position-x: right;
    background-size: 80%; }
    .header .header__image-title {
      width: 416px; }
    .header .header__title {
      font-size: 3.39rem; }
    .header .header__subtitle {
      font-size: 1.119rem; } }

@media only screen and (min-width: 75rem) {
  .header {
    background-position-x: 100%;
    background-size: 64rem;
    padding-bottom: 7rem;
    padding-top: 2rem; } }

@media only screen and (min-width: 1300px) {
  .header {
    background-position-x: center; } }

.button {
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  background-color: #eeeeee;
  width: 17rem;
  text-align: center;
  color: #3a3837;
  padding: 1rem;
  border-radius: .25rem;
  font-weight: bold; }

.button:hover {
  background-color: #d5d5d5;
  transition: .1s; }

.button--black {
  background-color: #000;
  color: #41bb96;
  border: 0.15rem solid #000; }

.button--black:hover {
  border-color: #222;
  background-color: #222; }

.button--black-outlined {
  background-color: transparent;
  color: #000;
  border: 0.15rem solid #000; }

.button--black-outlined:hover {
  background-color: transparent; }

.button--primary {
  background-color: #41bb96;
  color: #fff;
  border: 0.15rem solid #41bb96; }

.button--primary:hover {
  background-color: #04625d;
  color: #fff;
  border: 0.15rem solid #04625d; }

.button--secondary {
  background-color: #f26d61;
  color: #fff; }

.button--secondary:hover {
  background-color: #b25047; }

.button--secondary:active {
  background-color: #72342e; }

.container {
  padding: 0 1rem; }

@media only screen and (min-width: 48rem) {
  .container {
    padding: 0;
    position: relative;
    margin: 0 auto;
    width: 80%; } }

@media only screen and (min-width: 62rem) {
  .container {
    padding: 0 5rem;
    width: unset; } }

@media only screen and (min-width: 75rem) {
  .container {
    padding: 0;
    position: relative;
    margin: 0 auto;
    width: 60rem; } }

.content p:not(:last-child) {
  margin-bottom: 1rem; }

.icon, .icon--2, .icon--3 {
  max-width: 3.12rem;
  height: auto; }

.icon--2 {
  max-width: 4.62rem; }

.icon--3 {
  max-width: 6rem; }

.tile {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 0.62rem;
  border: 0.1rem solid #3a3837;
  width: 9.37rem;
  height: 9.37rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.25rem;
  position: relative;
  padding: 1rem; }

.columns {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }
  .columns .column {
    display: flex;
    flex-direction: column;
    margin: .75rem; }

.fullwidth {
  width: 100%; }

.half,
.one-third,
.two-thirds,
.one-quarter,
.two-quarters,
.three-quarters,
.one-fifth,
.two-fifths,
.three-fifths,
.four-fifths {
  width: 17.75rem; }

@media only screen and (min-width: 48rem) {
  .columns {
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row; }
  .half {
    width: 50%; }
  .one-third {
    width: 33.33333%; }
  .two-thirds {
    width: 66.66667%; }
  .one-quarter {
    width: 25%; }
  .two-quarters {
    width: 50%; }
  .three-quarters {
    width: 75%; }
  .one-fifth {
    width: 20%; }
  .two-fifths {
    width: 40%; }
  .three-fifths {
    width: 60%; }
  .four-fifths {
    width: 80%; } }

.footer {
  padding: 2rem 0; }

.section {
  padding: 4rem 0; }

@media (min-width: 48rem) {
  .section {
    padding: 5rem 0rem; } }

.section__header {
  text-align: center;
  margin-bottom: 1rem; }

/* Contact informations */
.contact .container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

.contact .contact__items {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.contact .contact__divisor {
  background: #000;
  height: 0.0625rem;
  border: none;
  width: 9.375rem;
  margin: 1.5em 2rem; }

@media only screen and (min-width: 48rem) {
  .contact .contact__items {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: left;
    width: 100%; }
  .contact .contact__divisor {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 3.125rem; } }
