@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800");
@font-face {
  font-family: Vanguard;
  src: url("https://semparar.vteximg.com.br/arquivos/Vanguard-CF-Extra-Bold-Oblique.otf.css");
}

/*! minireset.css v0.0.4 | MIT License | github.com/jgthms/minireset.css */
html,
body,
p,
ol,
ul,
li,
dl,
dt,
dd,
blockquote,
figure,
fieldset,
legend,
textarea,
pre,
iframe,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
select,
textarea {
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img,
embed,
iframe,
object,
video {
  height: auto;
  max-width: 100%;
}

audio {
  max-width: 100%;
}

iframe {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

.footer {
  padding: 3rem 0;
}

.section {
  padding: 3rem 0;
}

@media (min-width: 48rem) {
  .section {
    padding: 5rem 0rem;
  }
}

.section__header {
  text-align: center;
  margin-bottom: 1rem;
}

.border-1px {
  border: 1px solid;
}

.border-2px {
  border: 2px solid;
}

.border-primary {
  border-color: #f26d61;
}

.border-secondary {
  border-color: #41BB96;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.direction-column {
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.direction-row {
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-space-around {
  -webkit-box-pack: space-around;
  -ms-flex-pack: space-around;
  justify-content: space-around;
}

.justify-space-between {
  -webkit-box-pack: space-between;
  -ms-flex-pack: space-between;
  justify-content: space-between;
}

.justify-space-evenly {
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.bg-primary {
  background-color: #f26d61;
}

.bg-primary-dark {
  background-color: #B25047;
}

.bg-primary-light {
  background-color: #FF7366;
}

.bg-secondary {
  background-color: #41BB96;
}

.bg-secondary-dark {
  background-color: #B25047;
}

.bg-secondary-light {
  background-color: #45C8A0;
}

.bg-transparent {
  background-color: transparent;
}

.bg-black {
  background-color: #000;
}

.bg-white {
  background-color: #fff;
}

.bg-dark {
  background-color: #222;
}

.bg-grey {
  background-color: #d5d5d5;
}

.bg-grey-dark {
  background-color: #3a3837;
}

.bg-grey-light {
  background-color: #eeeeee;
}

.bg-grey-lighter {
  background-color: #f3f3f3;
}

.bg-warning {
  background-color: #FF9F1C;
}

.bg-warning-dark {
  background-color: #B26B0A;
}

.bg-watning-light {
  background-color: #FFAA35;
}

.bg-link {
  background-color: #164C8E;
}

.bg-link-dark {
  background-color: #0A2342;
}

.bg-link-light {
  background-color: #1F6DCE;
}

.color-primary {
  background-color: #f26d61;
}

.color-primary-dark {
  background-color: #B25047;
}

.color-primary-light {
  background-color: #FF7366;
}

.color-secondary {
  background-color: #41BB96;
}

.color-secondary-dark {
  background-color: #B25047;
}

.color-secondary-light {
  background-color: #45C8A0;
}

.color-transparent {
  background-color: transparent;
}

.color-black {
  background-color: #000;
}

.color-white {
  background-color: #fff;
}

.color-dark {
  background-color: #222;
}

.color-grey {
  background-color: #d5d5d5;
}

.color-grey-dark {
  background-color: #3a3837;
}

.color-grey-light {
  background-color: #eeeeee;
}

.color-grey-lighter {
  background-color: #f3f3f3;
}

.color-warning {
  background-color: #FF9F1C;
}

.color-warning-dark {
  background-color: #B26B0A;
}

.color-watning-light {
  background-color: #FFAA35;
}

.color-link {
  background-color: #164C8E;
}

.color-link-dark {
  background-color: #0A2342;
}

.color-link-light {
  background-color: #1F6DCE;
}

.font-smaller {
  font-size: 0.5rem;
}

.font-small {
  font-size: 0.75rem;
}

.font-1rem {
  font-size: 1rem;
}

.font-2rem {
  font-size: 2rem;
}

.font-3rem {
  font-size: 3rem;
}

.font-4rem {
  font-size: 4rem;
}

.font-5rem {
  font-size: 5rem;
}

.font-6rem {
  font-size: 6rem;
}

.font-7rem {
  font-size: 7rem;
}

.font-8rem {
  font-size: 8rem;
}

.font-calibri {
  font-family: Calibri, Helvetica, Arial, sans-serif;
}

.font-vanguard {
  font-family: Vanguard, Helvetica, Arial, sans-serif;
}

.font-open-sans {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.font-bold {
  font-weight: bold;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-centered {
  text-align: center;
}

.text-justified {
  text-align: justify;
}

.text-left {
  text-align: left;
}

.m-top-1rem {
  margin-top: 1rem;
}

.m-right-1rem {
  margin-right: 1rem;
}

.m-bottom-1rem {
  margin-bottom: 1rem;
}

.m-left-1rem {
  margin-left: 1rem;
}

.m-top-2rem {
  margin-top: 2rem;
}

.m-right-2rem {
  margin-right: 2rem;
}

.m-bottom-2rem {
  margin-bottom: 2rem;
}

.m-left-2rem {
  margin-left: 2rem;
}

.m-1rem {
  margin: 1rem;
}

.m-2rem {
  margin: 2rem;
}

.p-top-1rem {
  padding-top: 1rem;
}

.p-right-1rem {
  padding-right: 1rem;
}

.p-bottom-1rem {
  padding-bottom: 1rem;
}

.p-left-1rem {
  padding-left: 1rem;
}

.p-top-2rem {
  padding-top: 2rem;
}

.p-right-2rem {
  padding-right: 2rem;
}

.p-bottom-2rem {
  padding-bottom: 2rem;
}

.p-left-2rem {
  padding-left: 2rem;
}

.p-1rem {
  padding: 1rem;
}

.p-2rem {
  padding: 2rem;
}
/*# sourceMappingURL=main.css.map */