$zero: (
    top: 0,
    right: 0,
    bottom: 0,
    left: 0
);

$oneRem: (
    top: 1rem,
    right: 1rem,
    bottom: 1rem,
    left: 1rem
);

$twoRem: (
    top: 2rem,
    right: 2rem,
    bottom: 2rem,
    left: 2rem
);

$threeRem: (
    top: 3rem,
    right: 3rem,
    bottom: 3rem,
    left: 3rem
);

@each $item in $zero {
    .m-#{nth($item,1)}-#{nth($item,2)} {
        margin-#{nth($item,1)}: nth($item,2)
    }
}

@each $item in $oneRem {
    .m-#{nth($item,1)}-#{nth($item,2)} {
        margin-#{nth($item,1)}: nth($item,2)
    }
}

@each $item in $twoRem {
    .m-#{nth($item,1)}-#{nth($item,2)} {
        margin-#{nth($item,1)}: nth($item,2)
    }
}

@each $item in $threeRem {
    .m-#{nth($item,1)}-#{nth($item,2)} {
        margin-#{nth($item,1)}: nth($item,2)
    }
}

.m-1rem {
    margin: 1rem;
}

.m-2rem {
    margin: 2rem;
}

@each $item in $oneRem {
    .p-#{nth($item,1)}-#{nth($item,2)} {
        padding-#{nth($item,1)}: nth($item,2)
    }
}

@each $item in $twoRem {
    .p-#{nth($item,1)}-#{nth($item,2)} {
        padding-#{nth($item,1)}: nth($item,2)
    }
}

.p-1rem {
    padding: 1rem;
}

.p-2rem {
    padding: 2rem;
}