
.inline {
    display: inline;
}

.block {
    display: block;
}

.mobile {
    display: block;
}

.desktop {
    display: none;
}

@media only screen and (min-width: $mobile-up) {
    .desktop {
        display: block;
    }
    
    .mobile {
        display: none;
    }
}

.highlight {
    padding: .3em .6em;
    display: inline-block;
}

.mobile-width {
    max-width: 20rem;
}