.button {
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    background-color: $grey-light;
    width: 17rem;
    text-align: center;
    color: $grey-dark;
    padding: 1rem;
    border-radius: .25rem;
    font-weight: bold;
}

.button:hover {
    background-color: $grey;
    transition: .1s;
}

.button--black {
    background-color: $black;
    color: $primary;
    border: 0.15rem solid #000;
}

.button--black:hover {
    background-color: $dark;
}

.button--black-outlined {
    background-color: $nobg;
    border: 0.15rem solid $black;
}

.button--black-outlined:hover {
    background-color: $nobg;
}

.button--primary {
    background-color: $primary;
    color: $white;
    border: 0.15rem solid $primary;
}

.button--primary:hover {
    background-color: $primary-dark;
    color: $white;
    border: 0.15rem solid $primary-dark;
}

.button--secondary {
    background-color: $secondary;
    color: $white;
}

.button--secondary:hover {
    background-color: $secondary-dark;
}

.button--secondary:active {
    background-color: $secondary-darker;
}