
.navbar {
    padding: 1rem 0;
    height: 5rem;
    
    .container{
        height: 100%;
    }
    
    .logo {
        height: 100%;
        
        img {
            max-height: 100%;
        }
    }
    
    .logo--twice {
        height: 100%;
        @include display(flex);
        @include align-items(center);
        @include justify-content(center);
        
        img {
            max-height: 100%;
        }
        
        .logo__1 {
            margin-right: 1.3rem;
        }
        
        .logo__2 {
            margin-left: 1.3rem;
        }
    }
}

@media only screen and (min-width: $mobile-up) {
    .navbar{
        .logo--twice {
            @include justify-content(flex-start);
        }
    }
}