
.navbar {
    height: 6rem;
    font-size: 16px;

    .logo {
        height: 3em;
    }
}

@media only screen and (min-width: $mobile-up) {
    .navbar{
        height: 6rem;
        
        .logo {
            height: 3rem;
        }
    }
}