// change Theme
$primary-name: "success";

// Handling with Sass scope issue
$primary:""; $primary-light:""; $primary-dark:""; $primary-darker:"";
$secondary:""; $secondary-light:""; $secondary-dark:""; $secondary-darker:"";

@if $primary-name == "danger" {
    $primary: #f26d61;
    $primary-light: #ff7366;
    $primary-dark: #b25047;
    $primary-darker: #72342e;

    $secondary: #41bb96;
    $secondary-light: #45c8a0;
    $secondary-dark: #04625d;
    $secondary-darker: #153b30;
} @else if $primary-name == "success" {
    $primary: #41bb96;
    $primary-light: #45c8a0;
    $primary-dark: #04625d;
    $primary-darker: #153b30;
    
    $secondary: #f26d61;
    $secondary-light: #ff7366;
    $secondary-dark: #b25047;
    $secondary-darker: #72342e;
}


$nobg: transparent;
$black: #000;
$white: #fff;
$dark: #222;

$grey: #d5d5d5;
$grey-dark: #3a3837;
$grey-light: #eeeeee;
$grey-lighter: #f3f3f3;

$warning: #ff9f1c;
$warning-dark: #b26b0a;
$warning-light: #ffaa35;

$link: #164c8e;
$link-dark: #0a2342; 
$link-light: #1f6dce;
$link-lighter: #beebdf;