$colors: (
    primary: $primary, 
    primary-dark: $primary-dark, 
    primary-light: $primary-light,
    secondary: $secondary, 
    secondary-dark: $primary-dark, 
    secondary-light: $secondary-light,
    transparent: $nobg,
    black: $black,
    white: $white,
    dark: $dark,
    grey: $grey,
    grey-dark: $grey-dark,
    grey-light: $grey-light,
    grey-lighter: $grey-lighter,
    warning: $warning,
    warning-dark: $warning-dark,
    watning-light: $warning-light,
    link: $link,
    link-dark: $link-dark,
    link-light: $link-light,
    link-lighter: $link-lighter
);


@each $item in $colors {
    .bg-#{nth($item,1)} {
        background-color: nth($item,2);        
    }
}

@each $item in $colors {
    .color-#{nth($item,1)} {
        color: nth($item,2);
    }
}