
.inline {
    display: inline;
}

.block {
    display: block;
}

.mobile {
    display: block;
}

.desktop {
    display: none;
}

.rotate-mobile {
    transform: rotate(90deg);
    margin: 4.3rem;
}

@media only screen and (min-width: $mobile-up) {
    .desktop {
        display: block;
    }
    
    .mobile {
        display: none;
    }

    .rotate-mobile {
        transform: unset;
        margin: unset;
    }
}

.highlight {
    padding: .3em .6em;
    line-height: 1.6rem;
}

.mobile-width {
    max-width: 20rem;
}

.mobile-item {
    max-width: 13.7rem;
}