@font-face {
    font-family: Vanguard;
    src: url("https://semparar.vteximg.com.br/arquivos/Vanguard-CF-Extra-Bold-Oblique.otf.css");
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');

$vanguard: Vanguard, Helvetica, Arial, sans-serif;
$open-sans: 'Open Sans', Arial, Helvetica, sans-serif;
$calibri: Calibri, Helvetica, Arial, sans-serif;