@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');

$font-primary: 'Open Sans', Helvetica, sans-serif;
$font-secondary: Calibri, sans-serif;
$font-tertiary: Helvetica, Helvetica, sans-serif;