.columns {
    @include display(flex);
    @include flex-direction(column);
    
    .column {
        display: flex;
        flex-direction: column;
        margin: .75rem;
    }
}

.fullwidth {
    width: 100%;
}

.half,
.one-third,
.two-thirds ,
.one-quarter,
.two-quarters,
.three-quarters,
.one-fifth,
.two-fifths,
.three-fifths,
.four-fifths {
    width: 17.75rem;
}

@media only screen and (min-width: $mobile-up) {
    .columns {
        @include flex-direction(row);
    }

    .half {
        width: 50%;
    }
    
    .one-third {
        width: (100% / 3);
    }
    
    .two-thirds {
        width: (100% / 3) * 2;
    }
    
    .one-quarter {
        width: (100% / 4);
    }
    
    .two-quarters {
        width: (100% / 4) * 2;
    }
    
    .three-quarters {
        width: (100% / 4) * 3;
    }
    
    .one-fifth {
        width: (100% / 5);
    }

    .two-fifths {
        width: (100% / 5) * 2;
    }
    
    .three-fifths {
        width: (100% / 5) * 3;
    }
    
    .four-fifths {
        width: (100% / 5) * 4;
    }
}